.list-card .to-detail{
  position: absolute;
  top: 40%;
  left: 21%;
  visibility: hidden;
}
.list-card .media:hover .to-detail{
  visibility: visible;
}
.list-card .list-price span {
  font-weight: 700;
  font-size: 1.3em;
}